<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bob.mhslife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FragmentTabs" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CalendarActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="77bad07f2114cd8c5720cca7627ee7369205ab61" />
    </application>

</manifest>